<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>books</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleB.css') }}">
</head>

<body>
  <nav>
    <ul>
        <li><button id='cat_1' onclick="location.href='/fantacy'">Fantasy</button></li>
        <li><button id='cat_2' onclick="location.href='/horror'">Horror</button></li>
        <li><button id='cat_3' onclick="location.href='/comedy'">Comedy</button></li>
        <li><button id='cat_4' onclick="location.href='/scifi'">Sci-Fi</button></li>
        <li><button id='cat_5' onclick="location.href='/romance'">Romance</button></li>
        <li><button id='cat_6' onclick="location.href='/delete'">delete account</button></li>
        <li><button id='cat_7' onclick="location.href='/'">signup</button></li>
    </ul>
  </nav>
  <table>
    <tr>
      <td>
        <a id="l1" href="https://www.bookdepository.com/Defy-Stars-CLAUDIA-GRAY/9781471406362?ref=grid-view&qid=1674398321997&sr=1-1">
          <img id="p1" src="static/pics/sci1.jpg">
        </a>
      </td>
      <td>
        <a id="l2" href="https://www.bookdepository.com/Blazing-World-Other-Writings-Margaret-Cavendish/9780140433722?ref=grid-view&qid=1674404166704&sr=1-1">
          <img id="p2" src="static/pics/sci2.jpg">
        </a>
      </td>
      <td>
        <a id="l3" href="https://www.bookdepository.com/Foundation-Isaac-Asimov/9780553382570?ref=grid-view&qid=1674404254249&sr=1-19">
          <img id="p3" src="static/pics/sci3.jpg">
        </a>
      </td>
      <td>
        <a id="l4" href="https://www.bookdepository.com/Dune-Frank-Herbert/9780593099322?ref=grid-view&qid=1674404510668&sr=1-11">
          <img id="p4" src="static/pics/sci4.jpg">
        </a>
      </td>
      <td>
        <a id="l5" href="https://www.bookdepository.com/Hyperion-Dan-Simmons/9780399178610?ref=grid-view&qid=1674404694037&sr=1-10">
          <img id="p5" src="static/pics/sci5.jpg">
        </a>
      </td>
      <td>
        <a id="l6" href="https://www.bookdepository.com/Three-Body-Problem-Cixin-Liu/9781784971571?ref=grid-view&qid=1674404910742&sr=1-1">
          <img id="p6" src="static/pics/sci6.jpg">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a id="l7" href="https://www.bookdepository.com/Children-Time-Adrian-Tchaikovsky/9781447273301?ref=grid-view&qid=1674405173827&sr=1-1">
          <img id="p7" src="static/pics/sci7.jpg">
        </a>
      </td>
      <td>
        <a id="l8" href="https://www.bookdepository.com/Martian-Andy-Weir/9780553418026?ref=grid-view&qid=1674405323674&sr=1-2">
          <img id="p8" src="static/pics/sci8.jpg">
        </a>
      </td>
      <td>
        <a id="l9" href="https://www.bookdepository.com/Borne-Jeff-VanderMeer/9780374537654?ref=grid-view&qid=1674405402006&sr=1-1">
          <img id="p9" src="static/pics/sci9.jpg">
        </a>
      </td>
      <td>
        <a id="l10" href="https://www.bookdepository.com/Vurt-Jeff-Noon/9781447229216?ref=grid-view&qid=1674405543289&sr=1-5">
          <img id="p10" src="static/pics/sci10.jpg">
        </a>
      </td>
      <td>
        <a id="l11" href="https://www.bookdepository.com/Metro-2033-Dmitry-Glukhovsky/9780575086258?ref=grid-view&qid=1674405615335&sr=1-1">
          <img id="p11" src="static/pics/sci11.jpg">
        </a>
      </td>
      <td>
        <a id="l12" href="https://www.bookdepository.com/Snow-Crash-Neal-Stephenson/9780553380958?ref=grid-view&qid=1674405692955&sr=1-2">
          <img id="p12" src="static/pics/sci12.jpg">
        </a>
      </td>
    </tr>
  </table>
</body>
</html>